<!-- get title -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } %>


<!-- flash messages -->
<%- messages() %>


<!-- add error -->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>


<form action="/inv/search-inventory" method="POST">
    <h1>Search Inventory by ID</h1>
    
    <label for="inv_id">Inventory ID:</label>
    <input type="number" name="inv_id" id="inv_id" required 
    pattern="^\d+$" 
    title="Inventory ID must be a numeric value without spaces.">

    <button type="submit">Search</button>
</form>
 