<main>
    <h1><%= title %></h1>
    <p><%- message %></p> <!-- Display the error message passed via the render function -->
    <p>It seems something went wrong. Don't worry, even the best websites have bad days!</p>
    <p>Return to the <a href="/">home page</a> or <a href="javascript:history.back()">go back</a>.</p>
</main>

  